<div>
  <div>
    <form (submit)="btnSoumettre(numFormControl.value)">
      <span>Rechercher une BD (nombre de 1 à {{numDerniereBD}}) :</span>
      <input [formControl]="numFormControl" type="number" [value]="numDerniereBD" min="1" [max]="numDerniereBD" />
      <button type="submit">🔍 Soumettre</button>
    </form>
  </div>
  <div>
    <button (click)="btnAleatoire()">🔀 BD Aléatoire</button>
    <button (click)="btnDerniere()">🆕 Dernière BD</button>
  </div>
</div>

<hr>

<div *ngIf="uneBD">
  <article>
    <p>BD numéro: {{ uneBD.num }} <small>(Date: {{ uneBD.year }}/{{ uneBD.month }}/{{ uneBD.day }})</small></p>
    <h2>{{ uneBD.title }}</h2>
    <figure>
      <img [src]="uneBD.img" [alt]="uneBD.alt">
      <figcaption>{{ uneBD.alt }}</figcaption>
    </figure>
  </article>
</div>
